.bookingform{
    display: grid;
    max-width: 1024px;
    gap: 40px;
    justify-content:center;
}

.formfield {
    display: grid;
    width: 300px;
    gap: 10px;
}

#resdate{
    width:285px;
    height:40px;
    border-radius:8px;
    padding-left:10px;
    padding-right:5px;
    border: 1px solid transparent;
}

#restime{
    width:300px;
    height:40px;
    border-radius:8px;
    padding-left:5px;
    border: 1px solid transparent;
}

#guests{
    width:285px;
    height:35px;
    border-radius:8px;
    padding-left:10px;
    border: 1px solid transparent;
}

#occasion{
    width:300px;
    height:40px;
    border-radius:8px;
    padding-left:5px;
    border: 1px solid transparent;
}