/* Section style */
.menu-icon{
    display:none;
  }
  .hero-section{
    background-color:#495557;
    margin-left:-70px;
    margin-right:-70px;
    padding-top:60px;
    height:400px;
    display:flex;
  }
  .hero-section-text{
    margin-left:270px;
    flex:1;
  }
  .hero-section-text p{
    max-width: 400px;
    white-space: normal;
    overflow-wrap: break-word;
    margin:0;
  }
  .hero-section-text > .lead, .hero-section-text > .btn{
    margin-top:35px;
  }
  .hero-section-image {
    flex:1;
    position:relative;
  }

/* Image style */
.header img{
    width:200px;
    height:auto;
}
.hero-section-image img{
    width:300px;
    border-radius:30px;
    position:absolute;
    top:0;
    left:0;
}

/* Button style */
.btn {
    background-color:#F4CE14;
    border:1px solid transparent;
    border-radius: 10px;
    width:200px;
    height:40px;
  }


  /* Responsive */
@media (max-width: 430px) {
    .menu-icon{
      display:block;
      cursor:pointer;
      color:#495557;
      text-align:right;
    }
    .menu-icon img{
      width:30px;
      padding:10px;
    }
    .header img{
      width:160px;
    }
    .nav {
      padding:15px 0 15px 0;
    }
    .hero-section{
        background-color:#495557;
        margin-left:-20px;
        margin-right:-20px;
        padding:30px;
        height:320px;
        display:block;
      }
      .hero-section-text{
        margin-left:0px;
      }
      .hero-section-text p{
        max-width:300px;
      }
      .hero-section-image img{
        display:none;
      }
}