/* Section style */
.testimonials-section{
    background-color:#EBDABB;
    margin-left:-70px;
    margin-right:-70px;
    padding-top:50px;
    height:550px;
  }
  .testimonials-title{
    display:flex;
    justify-content: center;
    align-items:center;
  }
  .testimonials-box{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    margin-left:-70px;
    margin-right:-70px;
    margin-top: 20px;
  }
  .testimonials-box article{
    flex:1;
    max-width: 250px;
    height: 340px;
    background-color:white;
    margin:10px;
  }
  .testimonials-content{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content: center;
    align-items:center;
  }
  .testimonials-content .rating{
    margin: 40px auto 20px auto;
    height:auto;
  }
  .testimonials-content .review-img{
    flex: 1;
  }
  .testimonials-content .review{
    flex: 1;
  }
  .testimonials-content .profile{
    flex: 1;
  }
  .testimonials-content p{
    max-width: 180px;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .testimonials-animation{
    display:none;
  }

/* Image style */
.testimonials-section .img-container{
    width:120px;
    height: 80px;
    overflow: hidden;
  }
  .testimonials-section .img-container img{
    width:100%;
    height:auto;
  }

/* Responsive */
@media (max-width: 430px) {
    .testimonials-section{
      background-color:#EBDABB;
      margin-left:-20px;
      margin-right:-20px;
      padding-top:55px;
      height: 580px;
      border:1px solid black;
    }
    .testimonials-title{
      font-size: 48px;
      border:1px solid red;
    }
    .testimonials-box{
      display:none;
      border:1px solid blue;
    }
    .testimonials-box-mobile{
      display:block;
      width:240px;
      border:1px solid green;
    }
    .testimonials-content{
      height: 340px;
      background-color:white;
      border:1px solid orange;
    }
    .testimonials-content .rating{
      margin: 40px auto 0px auto;
      width:120px;
      display:flex;
      flex-direction:row;
      justify-content:center;
      font-size:20px;
    }
    .testimonials-section .img-container{
      height: 100px;
      margin-top:10px;
    }
    .testimonials-animation {
      display: flex;
      justify-content: center;
      align-items: center;
      /* border:2px solid pink; */
    }
    ul.slides {
      position: relative;
      width: 100%;
      height: 450px;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      /* border:2px solid purple; */
    }
    li.slide {
      margin: 0;
      padding: 0;
      width: inherit;
      height: inherit;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .5s transform ease-in-out;
      border:2px dashed gray;
    }
    .slide:nth-of-type(1) {
      background-color: #EBDABB;
    }
    .slide:nth-of-type(2) {
      background-color: #EBDABB;
      left: 100%;
    }
    .slide:nth-of-type(3) {
      background-color: #EBDABB;
      left: 200%;
    }
    .slide:nth-of-type(4) {
      background-color: #EBDABB;
      left: 300%;
    }
    .testimonials-animation input[type="radio"] {
      position: relative;
      z-index: 100;
      display: none;
    }
    .controls-visible {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;
    }
    .controls-visible label {
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: #fff;
      border-radius: 50%;
      margin: 0 6px;
      border: 2px solid #fff;
    }
    .slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
      background-color: #333;
    }
    .slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
      background-color: #333;
    }
    .slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
      background-color: #333;
    }
    .slides input[type="radio"]:nth-of-type(4):checked ~ .controls-visible label:nth-of-type(4) {
      background-color: #333;
    }
    .slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
      transform: translatex(0%);
    }
    .slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
      transform: translatex(-100%);
    }
    .slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
      transform: translatex(-200%);
    }
    .slides input[type="radio"]:nth-of-type(4):checked ~ .slide {
      transform: translatex(-300%);
    }
    /* Left/Right Button Classes Below */
    .navigator {
      position: absolute;
      top: 50%;
      width: 100%;
      z-index: 100;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      display: none;
    }
    .navigator i {
      font-size: 32px;
      color: #333;
    }
    .slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
      display: flex;
    }
    .slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
      display: flex;
    }
    .slides input[type="radio"]:nth-of-type(3):checked ~ .navigator:nth-of-type(3) {
      display: flex;
    }
    .slides input[type="radio"]:nth-of-type(4):checked ~ .navigator:nth-of-type(4) {
      display: flex;
    }
  }