/* Layout */
.App {
  display:grid;
  grid-template-areas: "header nav" "main main" "footer footer";
  grid-template-rows: 100px 2520px 400px;
  grid-template-columns: 4fr 8fr;
  margin-left:70px;
  margin-right:70px;
}

.header {
  grid-area: header;
  padding:20px;
  text-align: right;
}

.nav {
  grid-area: nav;
  padding:20px;
  text-align: left;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #EDEFEE;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  margin-left:-70px;
  margin-right:-70px;
}

/* List style */
ul{
  list-style: none;
  padding-left: 0;
}
.nav li{
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}
a{
  text-decoration-line: none;
}

/* Font style */
@font-face {
  font-family:'Karla-Bold';
  src:url('assets/Karla-Bold.ttf') format("truetype");
}
@font-face {
  font-family:'Karla-Regular';
  src:url('assets/Karla-Regular.ttf') format("truetype");
}
@font-face {
  font-family:'Karla-Medium';
  src:url('assets/Karla-Medium.ttf') format("truetype");
}
@font-face {
  font-family:'MarkaziText-Medium';
  src:url('assets/MarkaziText-Medium.ttf') format("truetype");
}
@font-face {
  font-family:'MarkaziText-Regular';
  src:url('assets/MarkaziText-Regular.ttf') format("truetype");
}

.card-title{
  font-family:'Karla-Bold';
  font-size: 18px;
}
.paragraph{
  font-family:'Karla-Regular';
  font-size: 16px;
}
.title{
  font-family:'MarkaziText-Medium';
  font-size: 64px;
  margin:0;
}
.subtitle{
  font-family:'MarkaziText-Regular';
  font-size: 40px;
}
.lead{
  font-family:'Karla-Medium';
  font-size: 18px;
}
.highlight{
  font-family:'Karla-Bold';
  font-size: 16px;
}

/* Button style */
.btn {
  background-color:#F4CE14;
  border:1px solid transparent;
  border-radius: 10px;
  width:200px;
  height:40px;
  cursor:pointer;
}
.btn:hover{
  background-color:#EBDABB;
}
/* Color */
.green{
  color:#495557;
}
.yellow{
  color:#F4CE14;
}
.white{
  color:#EDEFEE;
}
.black{
  color:#333333;
}
.pink{
  color:#EE9972;
}
.beige{
  color:#EBDABB;
}

/* Responsive */
@media (max-width: 430px) {
  .App {
    grid-template-columns:1fr 1fr;
    grid-template-rows: 90px 2800px 440px;
    grid-template-areas: "header nav" "main main" "footer footer";
    margin-left:20px;
    margin-right:20px;
  }
  .navigation-links{
    display:none;
  }
}